# Copyright (c) 2026 HPMicro
# SPDX-License-Identifier: BSD-3-Clause

if BOARD_HPM5361ICB

config HEAP_MEM_POOL_SIZE
	default 16384

config BUILD_OUTPUT_HEX
	default y

config UART_INTERRUPT_DRIVEN
	default y

endif # BOARD_HPM5361ICB