choice REMOTE_DEVICE_TYPE
    prompt "Remote device"
    default REMOTE_DEVICE_DT7
config REMOTE_DEVICE_DT7
    bool "DT7 on UART3"
config REMOTE_DEVICE_VT02
    bool "VT02 on UART2"
config REMOTE_DEVICE_VT03
    bool "VT03 on UART2"
endchoice
