choice REMOTE_DEVICE
	prompt "Remote control device"
	default REMOTE_DEVICE_DT7

config REMOTE_DEVICE_DT7
	bool "DT7"

config REMOTE_DEVICE_VT02
	bool "VT02"

config REMOTE_DEVICE_VT03
	bool "VT03"

endchoice
